* {
    margin: 0px;
    padding: 0px;

    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

body {
    background-color: #fff;
}


a:link {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none; 
}

a:visited {
    color: #000;
    text-decoration: none;
}


h1 {
    font-size: 2vh;
    line-height: 3vh;
    margin-bottom: 1vh;
    display: inline-block;
}

h2 {
    font-size: 1.5vh;
    line-height: 2vh;
}


.hidden {
    visibility: hidden;
}

.hiddenDisplay {
    display: none;
}

.frame.loader:not(.loaded) {
    display: none;
}

.frame.loaded {
    display: visible;
}

div.frame {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
}


#logo.frame {
    background-image:url('http://localhost/~vdb/evocal-web/src/beta/assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: 60vw;
    -moz-background-size: 60vw;
    -o-background-size: 60vw;
    background-size: 60vw;
    z-index: 2000;
    Background-color: #fff;
}


#landing.frame {
    background-image:url('http://localhost/~vdb/evocal-web/src/beta/assets/vocal-tract-ballistic.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1.0;
}

#pdf {
    position: absolute;
    width: 20vw;
    height: 14vh;
    top: 50%;
    left: 50%;
    margin-top: -7.5vh;
    margin-left: -10vw;
}

.entry {                  
    position: relative;
    float: left;
        
    width: 40%;
    height: 100%;
    margin: 0 5%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.space {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.entry img {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.entry:hover {
    cursor: pointer;
}

#title {
    position: absolute;
    width: 100vw;
    height: 20vh;
    bottom: 0px;
 }

.title {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}